#root {
  overflow: hidden;
}

#home {
  width: 100vw;
  font-size: 20px;
  display: block;
  text-align: center;
}

#icon {
  position: fixed;
  top: 0;
  padding: 0px 10px;
  z-index: 20;
}

#icon:hover {
  cursor: pointer;
}

#haasdoor-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}

#haasdoor-logo {
  max-width: 100px;
  margin: 10px !important;
}

#haasdoor-link {
  padding: 0px;
  font-size: 16px;
  margin: 0px;
  color: #ffffde;
}

#haasdoor-div:hover #haasdoor-link {
  text-decoration: underline;
}

#haascreate-button a {
  color: var(--orange);
}

#haascreate-button a:hover {
  color: var(--orange-different);
}

#facebook-iframe {
  width: 500px;
  height: 600px;
  margin: auto;
}

#icon img {
  width: 50px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

#number {
  position: fixed;
  top: 0;
  left: calc(100vw - 213px);
  z-index: 20;
}

.contact-icons-links {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#number-header {
  padding: 10px 20px;
  margin: 0px;
  font-size: 25px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

#number a {
  color: var(--orange);
  font-weight: bold;
}

#number a:hover {
  color: var(--orange-different);
}

#hero-section {
  height: auto;
}

#hero {
  min-width: 100%;
  position: static;
  z-index: 1;
  display: flex;
}

#slideshow {
  position: static;
  z-index: 9;
  width: 50%;
  max-height: calc(50vw / 3 * 4);
}

#logo-hero {
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  max-width: 50%;
  position: static;
  margin-bottom: 100px;
}

#logo-hero img {
  width: 300px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
  margin: 50px;
}

#hero-header {
  position: absolute;
  color: var(--neutral);
  font-size: 40px;
}

#contact-div {
  background-color: var(--orange);
  position: relative;
  margin-top: -20px;
  padding: 20px;
  z-index: 18;
}

#contact-div h3 {
  font-size: 30px;
  margin: 10px;
  color: var(--dark);
}

.contact-link-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-links {
  color: var(--dark);
  font-weight: bold;
  text-decoration: underline;
  padding: 15px;
}

.contact-links:hover {
  color: var(--orange-different);
}

.contact-img {
  margin: 5px;
}

.contact-text {
  color: var(--dark);
  font-weight: bold;
  padding: 15px;
  font-size: 15px;
}

.bcohd-contact-popup {
  width: 800px;
  height: 500px;
  margin: auto;
  padding-top: 50px;
}

.contact-button {
  color: var(--orange);
  box-shadow: 1px 2px var(--orange-different);
}

.contact-button:hover {
  color: var(--orange-different);
  outline: none;
  border: 1px solid var(--dark);
  cursor: pointer;
}

#map-section {
  padding: 50px;
  position: static;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-text {
  font-size: 30px;
  width: 400px;
  padding: 50px;
}

#facebook-text {
  font-size: 30px;
}

#facebook-text a {
  color: var(--orange);
  text-decoration: underline;
}

#facebook-text a:hover {
  color: var(--orange-different);
}

#map-section img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

#facebook-div {
  margin: 50px;
}

#facebook-section {
  background-color: var(--dark);
  padding: 20px;
}

#pictures-section {
  padding: 50px 300px;
  background-color: #1b1b1b;
}

#pictures-button {
  background-color: var(--orange);
  margin: 10px;
  color: var(--dark);
}

#pictures-button:hover {
  background-color: var(--orange-different);
  border: 1px var(--light) solid;
}

#about-section {
  background-color: var(--light);
  color: var(--dark);
  padding: 50px 150px;
}

#about-section h2 {
  font-size: 40px;
  text-align: left;
}

#about-image {
  width: 500px;
  margin: 0px 20px 10px 0px;
  float: left;
}

#about-text {
  text-align: left;
  font-size: 18px;
}

#footer {
  background-color: var(--dark);
  padding: 50px;
}

.footer-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  color: var(--orange-different);
  margin-left: 5px;
}

.footer-links:hover {
  color: var(--orange);
}

#footer-credit {
  color: var(--orange-different);
  font-size: 13px;
}

#footer-credit a {
  color: var(--orange-different);
  text-decoration: underline;
}

#footer-credit a:hover {
  color: var(--orange);
  cursor: pointer;
}
/* L */
@media (max-width: 1024px) {
  #map-section {
    flex-direction: column;
  }

  #map-text {
    padding: 0px 20px 20px 20px;
  }

  #about-section {
    padding: 50px;
  }

  #pictures-section {
    padding: 50px 150px;
  }
}

/* M */
@media (max-width: 700px) {
  #hero {
    flex-direction: column;
  }

  #slideshow {
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vw / 3 * 4);
    max-height: calc(100vw / 3 * 4);
    order: 1;
  }

  #logo-hero {
    min-width: 100%;
    height: 300px;
    order: 2;
    padding: 50px 0px;
  }
  #facebook-iframe {
    width: 100%;
    height: 500px;
  }

  #icon {
    position: absolute;
  }

  #number {
    position: absolute;
  }

  #map-image {
    max-width: 100%;
    min-width: 100%;
  }

  #facebook-iframe {
    max-width: 100%;
    min-width: 100%;
  }

  #about-image {
    max-width: 100%;
    min-width: 100%;
  }

  #about-section {
    padding: 20px;
  }

  #facebook-section {
    padding: 20px 0px;
  }

  #pictures-section {
    padding: 50px 30px;
  }
}

@media (max-width: 650px) {
  .contact-link-div {
    flex-direction: column;
  }

  #map-image {
    max-height: 300px;
  }
}

@media (max-width: 450px) {
  #map-text {
    font-size: 25px;
    max-width: 100%;
  }

  #map-section {
    padding: 25px;
  }

  #facebook-div {
    margin: 10px;
  }

  #contact-div {
    font-size: 14px !important;
  }

  .contact-text {
    font-size: 14px !important;
  }

  .contact-img {
    width: 15px;
    height: 15px;
  }
}
