#home {
  width: 100%;
  font-size: 20px;
  display: block;
  text-align: center;
}

#hero {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-background {
  object-fit: cover;
  height: 90vh;
  min-width: 100%;
}

#hero-header {
  position: absolute;
  color: var(--neutral);
  font-size: 40px;
}

#about-section {
  background-color: var(--neutral);
  color: var(--brown);
  padding: 100px;
}

#about-image {
  width: 300px;
  margin: 0px 20px 10px 0px;
  float: left;
}

#about-text {
  text-align: left;
}

#services-section {
  background-color: var(--brown);
  color: var(--neutral);
  font-size: 10px;
  padding: 100px;
  display: flex;
}

.home-service {
  width: 300px;
}

.service-images {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.service-description {
  font-size: 20px;
  text-align: center;
  width: 300px;
}
