#home {
  background-color: beige;
  width: 100%;

  font-size: 20px;
  display: block;
  text-align: center;
}

#hero {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-background {
  object-fit: cover;
  height: 90vh;
  min-width: 100%;
}

#hero-header {
  position: absolute;
  color: white;
}

#about-section {
  background-color: white;
  padding: 100px;
}

#about-image {
  width: 300px;
  margin: 0px 20px 10px 0px;
  float: left;
}

#about-text {
  color: black;
  text-align: left;
}

#services-section {
  background-color: #f1f1f1;
  padding: 100px;
}

.service-images {
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.service-description {
  font-size: 20px;
  width: 250px;
  margin: 0px 20px;
  text-align: center;
}

.home-service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
